<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>

<body>
    <h1>Welcome back <%= user.username %>!</h1>
    <a href="/new_folder">Create new folder</a> <br>
    <h2>Folders</h2>
    <% folders.map(folder=>{ %>
        <a href="/folders/<%= folder.id %>">
            <%= folder.title %>
        </a> <br>
        <% })%>
            <a href="/log-out">LOG OUT</a>
</body>

</html>