<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/new_folder" method="post">
        <input type="text" name="name" placeholder="Folder name">
        <input type="submit" value="Create folder">
    </form>
</body>
</html>